#div_top {
    height: 30px;
    font-size: 12px;
    border-bottom: lightgray solid 1px;
}

#div_top #div_top_user {
    float: right;
}

.triangle {
    width: 0px;
    height: 0px;
    line-height: 0px;
    font-size: 0;
    border-width: 5px;
    border-style: solid dashed;
    border-color: #666 transparent transparent transparent;
    position: absolute;
    right: 5px;
    top: 15px;
}

.person_option {
    background-color: white;
    width: 80px;
    list-style-type: none;
    border: lightgray solid 1px;
    margin: 1px;
    padding: 0px;
    text-align: center;
    position: relative;
    right: 4px;
    top: 30px;
}

.person_option div {
    background-color: white;
    width: 6px;
    height: 6px;
    border: lightgray solid 1px;
    border-right: 0px;
    border-bottom: 0px;
    position: absolute;
    left: 35px;
    top: -5px;
    transform: rotate(45deg);
}

.person_option li {
    padding: 5px;
}