<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户个人信息</title>
    <link rel="stylesheet" type="text/css" href="/css/userinfo.css"/>
    <script type="text/javascript" src="/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/js/userinfo.js"></script>
</head>
<body>
<div id="div_userinfo">
    <form action="#" method="post" name="userinfoForm" id="form_userinfo">
        <table>
            <tr><td align="right" width="100px">昵称：</td><td><input type="text" name="nickname" id="txt_nickname" placeholder="请输入昵称" required></td></tr>
            <tr><td align="right" width="100px">性别：</td><td></td></tr>
            <tr><td align="right" width="100px">出生年月：</td><td></td></tr>
            <tr><td align="right" width="100px">手机：</td><td></td></tr>
            <tr><td align="right" width="100px">邮箱：</td><td></td></tr>
            <tr><td>真实姓名：</td><td></td></tr>
            <tr><td>身份证号：</td><td></td></tr>
        </table>
    </form>
</div>
</body>
</html>